link(rel='stylesheet', media='(max-width: 599px)', href='/css/player-mobile.css')
link(rel='stylesheet', media='(min-width: 600px)', href='/css/player-desktop.css')

#player-container
  #player
    #track-info
      span#title= tracks[0].title
      span  by 
      span#artist= tracks[0].artist
      
    audio(controls, src='/uploads/audio/'+tracks[0].name)#audio
  #track-list-container
    ul#track-list.list-unstyled
      each track in tracks
        if track.deleted!==true
          li(onclick='play_track(this)', data-track= track).li-track
            if track.artist
              span.track-cell= track.artist
              span.track-cell= track.title
            else
              span.track-cell= track.originalName
              span.track-cell
  //- SCRIPTS
  script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
  script(type='text/javascript', src='/js/player.js')
