extends layout

block content

  nav#top-menu    
    ul.menu-list.list-inline
      li#mobile-li
        a#mobile-menu.notactive(onclick='showSideMenu()')
          img(src='/img/menu-icon-white.png')
      li.logo
        a(href='/')#home-link.pjax.logo-style velak
      li(class=(site=='program'?'active':''))#home-link.li-menu
        a(href='/site/program', onclick='hideSideMenu()').pjax.menu-link program
      li.li-menu
        a(href='/audio').pjax.menu-link audio
      each link in links
        li.li-menu
          a(href='/site/'+link.name, onclick='hideSideMenu()').pjax.menu-link= link.name
  //- - var currentProject = 'hausi'
  main
    
    nav#side-menu
      ul.side-list.list-unstyled.mobile-hidden
        each project in projects          
          li(class=(project._id==currentProject._id ? 'active now-last initial':''), data-project-id=project.id, id='li'+project.id).li-side
            a(href='/site/'+site+'/'+project._id).pjax.side-link= project.name

    #content
      #project-content
        .project-container(id=currentProject._id)   
          .info-box  
            h2= currentProject.title
            p!= currentProject.description
          ul.photo-list.list-unstyled
            each photo in currentProject.photo
              if photo.deleted != true && photo.filePublic == true  
                li(data-position=photo.position)
                  .img-container
                    img(src= '/uploads/small/small' +photo.name, onerror="this.style.display='none'")
                    if photo.description
                      .photo-description
                        p= photo.description
          .photo-sub-description
            span= currentProject.imgdescription

      #loadmore
        img(src='/img/LoaderDots.gif')
