extends layout

block content
  #content
    header
      nav.navbar.navbar-default
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
          a(href='#').navbar-brand velak
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/admin/projects').pjax Projects
            li.active
              a(href='/admin/audio').pjax Audio
            li
              a(href='/admin/docs').pjax Docs
            li
              a(href='/admin/trash').pjax.glyphicon.glyphicon-trash
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/admin/users').pjax user list
            li
              a(href='/admin/register').pjax add user
            li
              span.navbar-text logged in as #{user.username}
            li  
              a(href="/admin/logout")
                span.glyphicon.glyphicon-log-out
    main
      #audio-upload
        form(action='/admin/audio_upload', method='post', enctype='multipart/form-data')#audioupload.dropzone
          //- label(for='input_audio')
          //-   .btn.btn-default add audio file(s)
          //- input(type='file', id='input_audio', accept='.mp3,.wav,.ogg', name='files', onchange='submit()', multiple).hidden
      #audio-list-container
        ul#audio-list.sortable
          if tracks!=undefined
            li.li-header
              .li-cell
                span filename
              .li-cell
                span artist
              .li-cell
                span title
              .li-cell
                span player
              .li-cell
                span delete
            each track in tracks
              if track.deleted !== true  
                li(data-track-id=track.id).list-child
                  .li-cell
                    span=track.originalName
                  each tags in track.mp3tags
                    
                    .li-cell
                      span= tags.artist
                    .li-cell
                      span= tags.title
                  .li-cell
                    audio(controls='controls', preload='none')
                      source(src= '../../uploads/audio/'+track.name, type=track.fileType)
                  .li-cell
                    a(href='/admin/delete_audio/' + track._id, onclick='return confirm("really delete?")') delete
