extends layout

block content
  #content
    header
      nav.navbar.navbar-default
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
          a(href='#').navbar-brand Home
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/admin/projects').pjax Projects
            li
              a(href='/admin/docs').pjax Docs
            li
              a(href='/admin/trash').pjax.glyphicon.glyphicon-trash
    main
      #loadscreen
      #alert-container
      nav#project-menu
        #div-addProject.input-group.input-group-sm
          input(type='text', placeholder='new project', onkeypress='checkKey(event)')#new-project-input.form-control
          span.input-group-btn
            button(onclick='addProject()').btn.btn-default Add
        #div-projectList
          p projects
          ul#project-list.list-unstyled
            each project in projects  
              if project.deleted == false  
                li(name= project._id, class=(project.id == currentProject.id ? 'active-link':'')).li-project
                  a(href='/admin/project/' + project._id).pjax.pLink= project.name
                  a(id=project._id, onclick='deleteProject(this.id, this)').deleteLink
                    span.glyphicon.glyphicon-remove-circle

      #project-content
        ul(role='tablist').nav.nav-tabs#tab-menu
          li(role="presentation").active
            a(href='#info-container', data-toggle='tab', aria-controls='info-container', role='tab') main info
          li(role='presentation')
            a(href='#photo-container', data-toggle='tab', aria-controls='photo-container', role='tab') media
        .tab-content
          #info-container(role='tabpanel').tab-pane.active
            label Name:
            input(type='text', name='name', id='input-name', value= currentProject.name).form-control
            label Title:
            input(type='text', name='title' id='input-title', value= currentProject.title).form-control
            label Description:
            textarea(name='description', id='input-description', rows = 8).form-control= currentProject.description
            select(name='category')#category-selector
              option(value='gala', selected=currentProject.category=='gala') gala
              option(value='export', selected=currentProject.category=='export') export
              option(value='other', selected=currentProject.category=='other') other
            br
            input(name='visible', type='checkbox', value='visible', checked=currentProject.visible)#project-visible
            | visible
            br
            button(onclick='updateProject()').btn.btn-default save
          #photo-container(role='tabpanel').tab-pane
            a(onclick='$("#photo-upload").toggle(100)') show/hide photo-upload
          
            form(action='/uploads/photo_upload/' + currentProject._id, method='post', enctype='multipart/form-data')#photo-upload.dropzone
              //- input(type='file', name='files', onchange='submit()', multiple)
            #gallery-container
              - var pid = '"'+ currentProject._id + '"'
              .form-inline.gallery-tools  
                input(type='checkbox', onclick='selectAll(this)').form-control#checkbox-selectAll 
                span Select all
                
                .form-group
                  select#action-selection.form-control
                    option -- choose --
                    option(value='delete') delete selection
                    option(value='public') make public
                    option(value='notpublic') make not public
                  button(onclick='handleSelected(#{pid})').form-control.btn.btn-default do
                .form-group
                  button(onclick='toggleView()').toggle-view.btn.btn-default.glyphicon.glyphicon-th-large
                .form-group
              
                  button(onclick='createDownloadLink(#{pid});', disabled=((!currentProject.photoLink)?false:true))#downloadLink.form-control.btn.btn-default create download link
                  a(target='_blank', href=currentProject.photoLink, hidden=((currentProject.photoLink)?false:true)).photolink= currentProject.photoLink
              ul.list-view.list-unstyled#img-gallery
                .gutter-sizer
                  each photo in photos
                    if photo.deleted !== true
                      - var iid = '"'+ photo.name +'"'
                      - var iname = '"' + photo.originalName + '"'
                      li(id=photo.name).img-item
                        .form-inline.img-thumb
                          input(id='check'+photo.name, name='imgDelete', type='checkbox').imgCheck.form-group
                          .div-img.form-group  
                            img(src= '../../uploads/small/small'+ photo.name)
                          .form-group.form-inline.img-caption
                            .div-photo-name.form-group
                              p= photo.originalName
                            
                            input(id= 'public'+photo.name, name='imgPublic', type='checkbox', onclick='publicState(this,#{pid},#{iid})', checked=photo.filePublic).form-group.public-checkbox
                            label(for='public'+photo.name, title='public').glyphicon.glyphicon-eye-open.form-group
                            button(onclick='deleteImg(#{pid},#{iid})').form-control.btn.btn-default.form-group delete
                  
