extends layout

block content

  nav#top-menu    
    ul.menu-list.list-inline
      li#mobile-li
        a#mobile-menu.notactive(onclick='showSideMenu()')
          img(src='/img/menu-icon-white.png')
      li.logo
        a(href='/')#home-link.pjax.logo-style velak
      li(class=(site=='gala'?'active':'')).li-menu
        a(href='/site/gala').pjax.menu-link gala
      li(class=(site=='export'?'active':'')).li-menu
        a(href='/site/export').pjax.menu-link export
      li(class=(site=='other'?'active':'')).li-menu
        a(href='/site/other').pjax.menu-link other
  //- - var currentProject = 'hausi'
  main
    
    nav#side-menu
      ul.side-list.list-unstyled.mobile-hidden
        each project in projects          
          li(class=(project._id==currentProject._id ? 'active now-last initial':''), data-project-id=project.id, id='li'+project.id).li-side
            a(href='/site/'+site+'/'+project._id).pjax.side-link= project.name

    #content
      #project-content
        .project-container(id=currentProject._id)   
          .info-box  
            h2= currentProject.title
            p!= currentProject.description
          ul.photo-list.list-unstyled
            each photo in currentProject.photo
              if photo.deleted != true && photo.filePublic == true  
                li(data-position=photo.position)
                  .img-container
                    img(src= '/uploads/small/small' +photo.name, onerror="this.style.display='none'")
                    if photo.description
                      p.photo-description= photo.description
      #loadmore
        img(src='/img/LoaderDots.gif')
