extends layout

block content

  nav#top-menu    
    ul.menu-list.list-inline
      li
        a#mobile-menu.notactive(onclick='showSideMenu()')
          img(src='/img/menu-icon-white.png')
      li.logo
        a(href='/', onclick='hideSideMenu()').pjax.logo-style velak
      li(class=(site=='gala'?'active':'')).li-menu
        a(href='/site/gala', onclick='hideSideMenu()').pjax.menu-link gala
      li(class=(site=='export'?'active':'')).li-menu
        a(href='/site/export', onclick='hideSideMenu()').pjax.menu-link export
      li(class=(site=='other'?'active':'')).li-menu
        a(href='/site/other', onclick='hideSideMenu()').pjax.menu-link other
  //- - var currentProject = 'hausi'
  main
    
    nav#side-menu
      ul.side-list.list-unstyled.mobile-hidden
        each project in projects      
          li(class=(project==projects[0]?'active now-last':''), data-project-id=project.id, id='li'+project.id).li-side
            a(href='/site/'+site+'/'+project._id, onclick='hideSideMenu()').pjax.side-link= project.name

    #content
      #project-content  
        .project-container(id=projects[0]._id)
          .info-box
            h2= projects[0].title
            p!= projects[0].description
          ul.photo-list.list-unstyled
            each photo in projects[0].photo
              if photo.deleted != true && photo.filePublic == true  
                li(data-position=photo.position)
                  .img-container
                    img(src= '/uploads/small/small' +photo.name, onerror="this.style.display='none'")
                    if photo.description
                      p.photo-description= photo.description
      #loadmore
        img(src='/img/LoaderDots.gif')
      
